// Theatre bookings table vars
$oe-table-theatre-bookings-footer-cell-bg-color: #bde0b3 !default;
$oe-table-theatre-bookings-footer-font-size: 1em !default;
$oe-table-theatre-bookings-footer-line-height: 1 !default;
$oe-table-theatre-bookings-footer-time-left-font-size: $default-font-size !default;
$oe-table-theatre-bookings-footer-specialist-bg-color: white !default;
$oe-table-theatre-bookings-footer-specialist-border-color: #cccccc !default;
$oe-table-theatre-bookings-footer-specialist-font-size: emCalc(11px) !default;
$oe-table-theatre-bookings-footer-specialist-padding: emCalc(6px) emCalc(8px) emCalc(6px) emCalc(17px) !default;
$oe-table-theatre-bookings-footer-specialist-opacity: 0.8 !default;
$oe-table-theatre-bookings-footer-specialist-border-radius: 5px !default;

.theatre-bookings {
	margin: 0;
	input[type="text"] {
		max-width: emCalc(70px);
		text-align: center;
	}
	tfoot {
		td {
			background: $oe-table-theatre-bookings-footer-cell-bg-color;
			font-size: $oe-table-theatre-bookings-footer-font-size;
			line-height: $oe-table-theatre-bookings-footer-line-height;
		}
	}
	.time-left {
		float: left;
		font-size: $oe-table-theatre-bookings-footer-time-left-font-size;
		font-weight: bold;
	}
	.specialists {
		background: $oe-table-theatre-bookings-footer-specialist-bg-color;
		border: 2px solid $oe-table-theatre-bookings-footer-specialist-border-color;
		float: right;
		font-size: $oe-table-theatre-bookings-footer-specialist-font-size;
		line-height: 1.2;
		padding: $oe-table-theatre-bookings-footer-specialist-padding;
		text-align: right;
		@include opacity($oe-table-theatre-bookings-footer-specialist-opacity);
		@include border-radius($oe-table-theatre-bookings-footer-specialist-border-radius);
	}
}