.event {
	&.booking {
		border-color: #fd6892;
		.event-title {
			background: image-url("medium.png") no-repeat left center;
		}
		.event-content {
			background-image: image-url("watermark.png");
		}
		&.schedule {
			.event-title {
				background: none;
				padding-left: 0;
			}
		}
	}
}