.event {
	&.booking {
		border-color: #fd6892;
		.event-title {
			background: image-url("medium.png") no-repeat left center;
		}
		.event-content {
			background-image: image-url("watermark.png");
		}
		&.view {
			.element-value {
				padding: 10px;
				font-size: emCalc(16px);
				margin-bottom: 10px;
			}
		}
	}
}